/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
@import "neat";

@import "refills/_navigation";
@import "refills/_flashes";
@import "refills/_footer";

@import "canvases";

$gray-color: #f6f6f6;
$blue-color: #477dca;

body {
  background-color: $gray-color;
}

#content {
  min-height: 400px;
  width: 100%;
  padding: 3em 1.618em;
}

.link {
  @include button(flat, darken($gray-color, 60%));
  display: inline;
  float: right;
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 0.2em;
  padding: 0.75em 1em;
  text-transform: uppercase;
}

.button {
  @include button(flat, $blue-color);
  display: inline;
  float: right;
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 0.2em;
  padding: 0.75em 1em;
  text-transform: uppercase;
}
